@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Mynerve&display=swap');
*{
        background-color: black;
            text-align: center;
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
}
.Cabeza{
    display: inline-block;
    margin-left: 500px;
    }
#tope{
    margin-inline: 30px;
}
.foto{
    margin-top: 70px;
    border-radius: 45%;
}
.texto {
    font-size: 30px;
}
.texto2 {
    font-size: 40px;
}
.cuerpos {
    text-align: center;

}

#Arriba {
    margin-inline: 50px;
    display: inline-block;
    text-align: center;
}

#Abajo {
    margin-left: 90px;
    margin-inline: 50px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}
#Ultimo{
    margin-right: 80px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}
#xp{
    margin-top: 70px;
    text-align: center;
}
.experiencia{
    text-align: center;
}
#fecha{
    display: inline-block;
}